.bg-header {
    background: #185886;
}

.nav-tabs .nav-item .nav-link.active {
    color: #0080FF;
  }

.bg-black {
    background: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.pdg-left {
    padding-left: 50px;
}

.spaceletter{
    word-spacing: auto;
    font-weight: normal;
  }